<!DOCTYPE html>
<html>
    <head>
        <title>
            ADMIN HOME
        </title>
    </head>
    <body>
        <fieldset>
            <legend>
                Home
            </legend>
            <a href="add_emp.php"><fieldset><b>ADD EMPLOYERS</b></fieldset></a>
            <a href="view_emloyers.php"><fieldset><b>VIEW EMPLOYERS</b></fieldset></a>
            <a href="search_emp.php"><fieldset><b>SEARCH EMPLOYEE</b></fieldset></a>
        </fieldset>
    </body>
</html>